In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import sklearn
from pandas import Series, DataFrame
from pylab import rcParams
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn import metrics
from IPython.display import Image 
#import graphviz
from sklearn.tree import DecisionTreeClassifier, export_graphviz
import seaborn as sns
#import pydotplus
from sklearn.tree import DecisionTreeClassifier, export_graphviz

In [2]:
data=pd.read_csv("train.csv")
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Class
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,3.0
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1.0
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,3.0
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1.0
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S,3.0
1305,1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,1.0
1306,1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,3.0
1307,1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S,3.0
1308,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,3.0

In [3]:
data.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Class
1304,1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S,3.0
1305,1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,1.0
1306,1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,3.0
1307,1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S,3.0
1308,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,3.0

In [4]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Class
count,1309.000000,891.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,1304.000000
mean,655.000000,0.383838,2.294882,29.881138,0.498854,0.385027,33.295479,2.291411
std,378.020061,0.486592,0.837836,14.413493,1.041658,0.865560,51.758668,0.840852
min,1.000000,0.000000,1.000000,0.170000,0.000000,0.000000,0.000000,1.000000
25%,328.000000,0.000000,2.000000,21.000000,0.000000,0.000000,7.895800,1.750000
50%,655.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200,3.000000
75%,982.000000,1.000000,3.000000,39.000000,1.000000,0.000000,31.275000,3.000000
max,1309.000000,1.000000,3.000000,80.000000,8.000000,9.000000,512.329200,3.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Survived     891 non-null    float64
 2   Pclass       1309 non-null   int64
 3   Name         1309 non-null   object
 4   Sex          1309 non-null   object
 5   Age          1046 non-null   float64
 6   SibSp        1309 non-null   int64
 7   Parch        1309 non-null   int64
 8   Ticket       1309 non-null   object
 9   Fare         1308 non-null   float64
 10  Cabin        295 non-null    object
 11  Embarked     1307 non-null   object
 12  Class        1304 non-null   float64
dtypes: float64(4), int64(4), object(5)
memory usage: 133.1+ KB

In [6]:
data.isnull().sum()

PassengerId       0
Survived        418
Pclass            0
Name              0
Sex               0
Age             263
SibSp             0
Parch             0
Ticket            0
Fare              1
Cabin          1014
Embarked          2
Class             5
dtype: int64

In [7]:
data['Survived'].mean()

0.3838383838383838

In [8]:
data['Survived']=data['Survived'].fillna(data['Survived'].mean())

In [9]:
data['Age'].median()

28.0

In [10]:
data['Age']=data['Age'].fillna(data['Age'].median())

In [11]:
data['Embarked'] = data['Embarked'].fillna('S')

In [12]:
data['Fare'] = data['Fare'].fillna(data['Fare'].median())

In [13]:
data['Cabin'] = data["Cabin"].apply(lambda x: 0 if type(x) == float else 1)

In [14]:
data['Class'].median()

3.0

In [15]:
data['Class']=data['Class'].fillna(data['Class'].median())

In [16]:
data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
Class          0
dtype: int64

In [17]:
data['Sex'] = data['Sex'].map( {'female': 0, 'male': 1} ).astype(int)

In [18]:
data['Embarked'] = data['Embarked'].map( {'S': 0, 'C': 1, 'Q': 2} ).astype(int)

In [19]:
data.loc[ data['Fare'] <= 7.91, 'Fare']     = 0
data.loc[(data['Fare'] > 7.91) & (data['Fare'] <= 14.454), 'Fare'] = 1
data.loc[(data['Fare'] > 14.454) & (data['Fare'] <= 31), 'Fare']   = 2
data.loc[ data['Fare'] > 31, 'Fare']  = 3
data['Fare'] = data['Fare'].astype(int)

In [20]:
data.loc[ data['Age'] <= 16, 'Age'] = 0
data.loc[(data['Age'] > 16) & (data['Age'] <= 32), 'Age'] = 1
data.loc[(data['Age'] > 32) & (data['Age'] <= 48), 'Age'] = 2
data.loc[(data['Age'] > 48) & (data['Age'] <= 64), 'Age'] = 3
data.loc[ data['Age'] > 64, 'Age']

33     66.0
54     65.0
96     71.0
116    70.5
280    65.0
456    65.0
493    71.0
630    80.0
672    70.0
745    70.0
851    74.0
972    67.0
987    76.0
Name: Age, dtype: float64

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Survived     1309 non-null   float64
 2   Pclass       1309 non-null   int64
 3   Name         1309 non-null   object
 4   Sex          1309 non-null   int32
 5   Age          1309 non-null   float64
 6   SibSp        1309 non-null   int64
 7   Parch        1309 non-null   int64
 8   Ticket       1309 non-null   object
 9   Fare         1309 non-null   int32
 10  Cabin        1309 non-null   int64
 11  Embarked     1309 non-null   int32
 12  Class        1309 non-null   float64
dtypes: float64(3), int32(3), int64(5), object(2)
memory usage: 117.7+ KB

In [22]:
x = data[['Survived', 'Pclass', 'Sex', 'Age','Parch', 'Fare', 'Cabin', 'Embarked']]
y = data['Class']

In [23]:
x

      Survived  Pclass  Sex  Age  Parch  Fare  Cabin  Embarked
0     0.000000       3    1  1.0      0     0      0         0
1     1.000000       1    0  2.0      0     3      1         1
2     1.000000       3    0  1.0      0     1      0         0
3     1.000000       1    0  2.0      0     3      1         0
4     0.000000       3    1  2.0      0     1      0         0
...        ...     ...  ...  ...    ...   ...    ...       ...
1304  0.383838       3    1  1.0      0     1      0         0
1305  0.383838       1    0  2.0      0     3      1         1
1306  0.383838       3    1  2.0      0     0      0         0
1307  0.383838       3    1  1.0      0     1      0         0
1308  0.383838       3    1  1.0      1     2      0         1

[1309 rows x 8 columns]

In [24]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Class'],
      dtype='object')

In [25]:
from sklearn.model_selection import train_test_split,GridSearchCV
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.30)

In [26]:
param_grid = {'min_samples_leaf':np.arange(20,50,5),
              'min_samples_split':np.arange(20,50,5),
              'max_depth':np.arange(3,6),
              'min_weight_fraction_leaf':np.arange(0,0.4,0.1),
              'criterion':['gini','entropy']}

In [27]:
clf = DecisionTreeClassifier()
clf.fit(x_train,y_train)

DecisionTreeClassifier()

In [28]:
feature_name=list(x.columns)
class_name = list(y_train.unique())
feature_name

['Survived', 'Pclass', 'Sex', 'Age', 'Parch', 'Fare', 'Cabin', 'Embarked']

In [29]:
clf.score(x_train,y_train)

0.9978165938864629

In [30]:
py_pred = clf.predict(x_test)

In [31]:
#py_pred=clf.predict(y_test)

In [32]:
clf.score(x_test,y_test)

0.9821882951653944

In [33]:
grid_param = {
    'criterion': ['gini', 'entropy'],
    'max_depth' : range(2,32,1),
    'min_samples_leaf' : range(1,10,1),
    'min_samples_split': range(2,10,1),
    'splitter' : ['best', 'random']
    
}

In [34]:
grid_search = GridSearchCV(estimator=clf,
                     param_grid=grid_param,
                     cv=5,
                    n_jobs =-1)

In [35]:
grid_search.fit(x_train,y_train)

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': range(2, 32),
                         'min_samples_leaf': range(1, 10),
                         'min_samples_split': range(2, 10),
                         'splitter': ['best', 'random']})

In [36]:
best_parameters = grid_search.best_params_
print(best_parameters)

{'criterion': 'gini', 'max_depth': 2, 'min_samples_leaf': 1, 'min_samples_split': 2, 'splitter': 'best'}

In [37]:
grid_search.best_score_

0.9967213114754097

In [38]:
clf = DecisionTreeClassifier(criterion = 'gini', max_depth =5, min_samples_leaf= 1, min_samples_split= 2, splitter ='random')
clf.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=5, splitter='random')

In [39]:
clf.score(x_test,y_test)

0.9847328244274809

In [40]:
acc_decision_tree = round(clf.score(x_train, y_train) * 100, 2)
acc_decision_tree

99.67